{{template "head.html" .}}

<div id="main">
    <div id="maininfo">
        <div class="coverecom w_770 left">
            <div class="tabstit">
                <span class="label"></span>
                <a href="/">{{.SiteName}}</a>
                <i>＞</i>
                <em>{{.Caption}}</em>
            </div>

            <div id="sitebox">
                {{range .Articles}}
                <dl>
                    <dt><a href="{{bookUrl .ArticleID}}"><img src="{{cover .ArticleID}}" alt="{{.ArticleName}}"></a>
                    </dt>
                    <dd>
                        <h3><a href="{{bookUrl .ArticleID}}">{{.ArticleName}}</a></h3>
                    </dd>
                    <dd class="tit">
                        <span>作者：{{.Author}}</span>
                        <span>状态：{{if eq .FullFlag 1}}全本{{else}}连载{{end}}</span>
                        <span>更新：{{date .LastUpdate "2006-01-02"}}</span>
                        <span>字数：{{formatSize .Size}}</span>
                    </dd>
                    <dd class="name">{{.Intro}}</dd>
                    <dd class="abbr">
                        <a href="{{bookUrl .ArticleID}}">点击阅读</a>
                        <a href="javascript:addbookcase('{{.ArticleID}}','{{.ArticleName}}')">加入书架</a>
                        <a href="{{bookUrl .ArticleID}}">收藏本书</a>
                    </dd>
                </dl>
                {{end}}
            </div>

            <!-- 分页 -->
            <div class="pages">
                {{if gt .Page 1}}
                <a href="{{sortUrl .CurrentSID (minus .Page 1)}}" class="prev">上一页</a>
                {{end}}

                {{range .Pages}}
                {{if eq . $.Page}}
                <strong>{{.}}</strong>
                {{else}}
                <a href="{{sortUrl $.CurrentSID .}}">{{.}}</a>
                {{end}}
                {{end}}

                {{if lt .Page .TotalPage}}
                <a href="{{sortUrl .CurrentSID (add .Page 1)}}" class="next">下一页</a>
                {{end}}
            </div>

        </div>

        <div class="list_center w_200 right">
            <div class="update_title">
                <span class="update_icon">本类推荐</span>
            </div>
            <div class="hotlist">
                <ul>
                    <!-- 这里可以使用 HotArticles 或 NewArticles，暂时复用 controller 中的逻辑或追加 -->
                    {{if .Articles}}
                    {{range (slice .Articles 0 (min (len .Articles) 10))}}
                    <li><strong>{{.Author}}</strong><span>[{{$.Caption}}]</span><a
                            href="{{bookUrl .ArticleID}}">{{.ArticleName}}</a></li>
                    {{end}}
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    $('.nav li:nth-child({{add .CurrentSID 1}})').css('background', '#5E8E9E');
</script>

{{template "foot.html" .}}