<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <meta name="keywords" content="{{.Keywords}}" />
    <meta name="description" content="{{.Description}}" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="MobileOptimized" content="240" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="/tpl_static/img/favicon.ico" media="screen">
    <link rel="stylesheet" href="/tpl_static/css/style.css?v=2">
    <script src="/tpl_static/js/jquery.min.js"></script>
    <script src="/tpl_static/js/jquery.cookie.js"></script>
    <script src="/tpl_static/js/common.js?v=2"></script>
</head>

<body>